.nav {
    background-color: #f8f8f8;
    display: flex;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.116);
    justify-content: space-between;
    padding: 1rem;
  }
  
  .nav_text {
    color: #8e44ad; 
    font-size: 1.5rem;
  }
  
  .nav_ul {
    display: flex;
    gap: 2rem;
  }
  
  .nav_items {
    background-color: #dcd0ff; 
    padding: 0.4rem 1rem;
    border-radius: 12px;
    color: #5d3ebc; 
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav_items:hover {
    background-color: #c7b0f5;
    color: #3e2370;
  }
  
  .logout {
    all: unset;
    background-color: #dc3545;
    color: #ffffff;
    padding: 0.4rem 1rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .logout:hover {
    background-color: #8a1c1c;
    color: #ffffff;
  }
  