.nav{
    background-color:#F8F9FA;
    display: flex;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.116);
    justify-content: space-between;
    padding: 1rem;
    
}
.nav_text{
color:#343a40;
}
.nav_ul{
    display: flex;
   gap: 2rem;
    /* display: flex; 
    justify-content:center; 
    margin: 0;
    padding: 0; */
    
}
.nav_items{
    background-color: #A7C7E7;
    padding: .4rem 1rem;
    border-radius: 12px;
    color: #0B3954;
    cursor:pointer;
}
.nav_items:hover{
    background-color:#7FB2DC;
    color:#0b1f2b;
}
