.login-container {
    max-width: 350px;
    margin: 80px auto;
    padding: 25px;
    background-color: #fff0f5; /* un rosadito suave */
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-form{
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #444;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.button-login {
    width: 100%;
    padding: 10px;
    background-color: #e75480;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-login:hover {
    background-color: #d6406f;
}
